<div class="section section-team text-center">
  <div class="container text-center">

    <h2 class="title">Here is our Books</h2>
    <div class="space-50"></div>

    <div *ngIf="!viewBooksContentLoadingError; else content_loading_error">
      <div *ngIf="!viewBooksContentLoading; else content_loading">

        <section-cards [items]="books" [size]="'md-3'"></section-cards>

      </div>
    </div>

  </div>
</div>

<!-- templates -->

<ng-template #content_loading>
  <element-loading></element-loading>
</ng-template>

<ng-template #content_loading_error>
  <element-error (notifyRetry)="loadBooksData()"></element-error>
</ng-template>
